* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  color: var(--foreground-color);
  padding: 10px;
  background-color: bisque;
}

.custom-img-size {
  max-width: 60%; /* Adjust the value to make the image smaller */
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto; /* Maintain aspect ratio */
  border-radius: 10px;
}

.color {
  color: rgb(255, 183, 0);
}

.color1 {
  color: blue;
}

.background {
  background-color: rgb(65, 105, 225);
  border-radius: 15px;
  padding: 20px;
}
.background1 {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 10px;
}

.card {
  border-radius: 15px;
}

p {
  margin-top: 1px;
}

h1,
h4 {
  margin-top: 20px;
  color: aliceblue;
}
